.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
}

.Date {
    text-transform: capitalize;
}

.Hr {
    margin: 0;
}

@media(min-width: 768px) {
    .Header {
        padding: 10px 30px;
    }
}