.CategoryList {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-transform: uppercase;
}

.Link {
    text-decoration: none;
    color: black;
}

.Active {
    color: #a02222;
    font-weight: bold;
}