@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;400;700&display=swap');

@font-face {
    font-family: 'Chomsky';
    src: local('Chomsky'), url(./fonts/Chomsky.woff) format('woff');
}


body {
    margin: 0;
    padding: 0;
    background-color: #fdebd3;
    font-family: 'Roboto Slab', serif;
}

hr {
    border-top: 2px solid black;
}